[Unit]
Description=VMess Argo Tunnel Auto Deploy
After=network.target

[Service]
ExecStart=/bin/bash /home/user/vmess-argo-deploy/deploy.sh
Restart=always
User=user
WorkingDirectory=/home/user/vmess-argo-deploy

[Install]
WantedBy=multi-user.target
